# macOS
.DS_Store
.AppleDouble
.LSOverride

# Gradle
.gradle/
build/
local.properties
!gradle/wrapper/gradle-wrapper.jar

# IDE & Editor
.idea/
*.iml
.vscode/
*.swp
*~

# Kotlin Native cache & artifacts
.kotlin/
*.kexe
*.klib
*.dSYM/
